
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat - Crowd Chat</title>
    <link rel="stylesheet" href="chat-style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="contain">
        <nav>
            <img src="./images/logo2.png" alt="">
            <div class="right">
                <a class="logout" href="/logout" title="Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
        </nav>
        <div class="contents">
            <div class="left">
                <div class="up">
                    <div class="room-bar">New</div>
                    <a class="create-room" href="/chat/create-room" title="Create Room"><i class="fa-solid fa-plus"></i> Create Room</a>
                    <a class="create-room" href="/chat/join-room" title="Join Room"><i class="fa-solid fa-user-plus"></i> Join Room</a>
                </div>
                <div class="down">
                    <div class="room-bar">Room</div>
                    <% i=0 %>
                    <% rooms.forEach(item => { %>
                        <a class="room-names" href="?room=<%= room_ids[i] %>"><%= item %></a>
                        <% i+=1 %>
                    <% }) %>
                </div>
            </div>
            <div class="right">
                <% if(rooms.length < 1) { %>
                <div class="empty">
                    <p>No Room Joined</p>
                    <p>Create New Room <a href="/chat/create-room">Create Room</a></p>
                </div>
                <% } else { %>
                    <div class="header">
                        <p id="room-name"><%= roomName %></p>
                        <a href="/chat/leave-room?room=<%= RoomID %>" title="Leave Room">Leave</a>
                    </div>
                    <div class="messages">                        
                        <% messages.forEach(item => { %>
                        <div class="message-box <%if(item[0] == 1){ %><%= 'right-side' %><% } else { %> <%= 'left-side' %> <% } %>">
                            <div class="msg">
                                <p class="msg-info"><span class="name"><%= item[1].split(' ')[0] %></span><span class="time"><%= item[3] %></span></p>
                                <p class="msg-p"><%- item[2].replace(/\n/g, '<br>') %></p>
                            </div>
                        </div>
                        <% }) %>
                        
                    </div>
                    <form class="send-message" id="send-message">
                        <textarea name="message-input" id="messageInput" class="message-input"></textarea>
                        <button>Send</button>
                    </form>
                <% } %>
                
            </div>
        </div>
        <% if(createRoom == 1){ %>
        <div class="main-form-div">
            <div class="blur">
                <form class="create-room-form" action="/chat/create-new-room" method="post">
                    <h3>Create A Room</h3>
                    <div class="form-div">
                        <label for="room_name">Room Name</label>
                        <input type="text" name="room_name" required placeholder="Enter a room name">
                    </div>
                    <div class="form-div">
                        <label for="room-name">Room ID</label>
                        <input  class="input" name="room_id_new" value="<%= created_room_id %>">
                    </div>
                    <div class="form-div">
                        <label for="room_password">Room Security Key</label>
                        <input type="password" name="room_password" id="room-password" placeholder="Enter a password for this room">
                        <i class="fa-solid fa-eye-slash" onclick="passVisibility(this, 'room-password')"></i>
                    </div>
                    <div class="form-div2">
                        <input type="checkbox" name="note" required> 
                        <label for="note">Have you checked the note below?</label>
                    </div><br>
                    <div class="note"><strong>Note:</strong> Remember RoomID and password to join. <br> If there is no password then anyone can join with RoomID.</div>
                    <button class="create" type="submit">Create Room</button>
                    <a href="/chat/cancel-room" class="cancel">Cancel</a>
                </form>
            </div>
        </div>
        <% } %>
        <% if(joinRoom == 1){ %>
            <div class="main-form-div">
                <div class="blur">
                    <form class="create-room-form" action="/chat/apply-join-room" method="post" id="join-room-form-id">
                        <h3>Join A Room</h3><br>
                        <div class="form-div">
                            <label for="room_name2">Room ID</label>
                            <input type="text" name="room_name2" id="room_name2" required placeholder="Enter a room id">
                        </div>
                        <div class="form-div">
                            <label for="room_password2">Room Security Key</label>
                            <input type="password" name="room_password2" id="room_password2" placeholder="Enter a password for this room">
                            <i class="fa-solid fa-eye-slash" onclick="passVisibility(this, 'room_password2')"></i>
                        </div>
                        <button class="create" type="submit">Join Room</button>
                        <a href="/chat/cancel-room" class="cancel">Cancel</a>
                        <p id="error-box-join">
                            <% if(joinError == 1){ %>
                                <%= joinError_msg %>
                            <% } %>
                        </p>
                    </form>
                </div>
            </div>
        <% } %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js" integrity="sha512-/l6vieC+YxaZywUhmqs++8uF9DeMvJE61ua5g+UK0TuHZ4TkTgB1Gm1n0NiA86uEOM9JJ6JUwyR0hboKO0fCng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/client.js"></script>
    <script>
        function passVisibility(btn, id){
            if(btn.classList.contains('fa-eye')){
                btn.classList.remove('fa-eye');
                btn.classList.add('fa-eye-slash');
                document.getElementById(id).type = "password";
            }
            else if(btn.classList.contains('fa-eye-slash')){
                btn.classList.add('fa-eye');
                btn.classList.remove('fa-eye-slash');
                document.getElementById(id).type = "text";
            }
        }
    </script>
</body>
</html>